global
    daemon
    maxconn 4096
    log stdout local0

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    option httplog
    log global

frontend traffic_manager
    bind *:80
    default_backend web_servers

backend web_servers
    balance roundrobin
    option httpchk GET /

    server east-server web-east:80 check inter 2000ms rise 2 fall 3
    server west-server web-west:80 check inter 2000ms rise 2 fall 3
    server central-server web-central:80 check inter 2000ms rise 2 fall 3

listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 30s
    stats admin if TRUE
